<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.alexs.tourguide">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity"
            android:label="Washington DC Tour Guide">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SightsActivity"
            android:label="DC Sightseeing"
            android:parentActivityName=".MainActivity"/>
        <activity android:name=".MuseumActivity"
            android:label="DC Museums"
            android:parentActivityName=".MainActivity"/>
        <activity android:name=".RestaurantActivity"
            android:label="DC Restaurants"
            android:parentActivityName=".MainActivity"/>
        <activity android:name=".BarActivity"
            android:label="DC Bars and Nightlife"
            android:parentActivityName=".MainActivity" />
    </application>

</manifest>